<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c4q_anthony_mcbride.horoscope_revisited">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Aquarius"
            android:label="@string/aquarius_title">
        </activity>
        <activity 
            android:name=".Pisces"
            android:label="@string/pisces_title">   
        </activity>
        <activity 
            android:name=".Aries"
            android:label="@string/aries_title">
        </activity>
        <activity
            android:name=".Taurus"
            android:label="@string/taurus_title">
        </activity>
        <activity
            android:name=".Gemini"
            android:label="@string/gemini_title">
        </activity>
        <activity
            android:name=".Cancer"
            android:label="@string/cancer_title">
        </activity>
        <activity
            android:name=".Leo"
            android:label="@string/leo_title">
        </activity>
        <activity
            android:name=".Virgo"
            android:label="@string/virgo_title">
        </activity>
        <activity
            android:name=".Libra"
            android:label="@string/libra_title">
        </activity>
        <activity
            android:name=".Scorpio"
            android:label="@string/scorpio_title">
        </activity>
        <activity
            android:name=".Sagittarius"
            android:label="@string/sagittarius_title">
        </activity>
        <activity
            android:name=".Capricorn"
            android:label="@string/capricorn_title">
        </activity>
    </application>

</manifest>
