<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reinardcox.c4q.nyc.horoscope">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- TODO: Add Activity Tags -->
        <!-- TODO: Added ConfigChanges and ScreenOrientation -->
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <!-- TODO: Add Intent Filter -->
            <intent-filter>
                <!-- TODO: Add Action.Main/Category.Launcher -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeScreen"
        android:logo="@drawable/splashscreen_logo"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:label="@string/app_name" >

    </activity>

        <activity android:name=".AriesClass"
            android:logo="@drawable/splashscreen_logo"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>
