<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c4q_raynaldie.horoscope4" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScorpioActivity"
            android:label="@string/title_activity_scorpio" >
        </activity>
        <activity
            android:name=".AriesActivity"
            android:label="@string/title_activity_aries" >
        </activity>
        <activity
            android:name=".TaurusActivity"
            android:label="@string/title_activity_taurus" >
        </activity>
        <activity
            android:name=".GeminiActivity"
            android:label="@string/title_activity_gemini" >
        </activity>
        <activity
            android:name=".CancerActivity"
            android:label="@string/title_activity_cancer" >
        </activity>
        <activity
            android:name=".LeoActivity"
            android:label="@string/title_activity_leo" >
        </activity>
        <activity
            android:name=".VirgoActivity"
            android:label="@string/title_activity_virgo" >
        </activity>
        <activity
            android:name=".LibraActivity"
            android:label="@string/title_activity_libra" >
        </activity>
        <activity
            android:name=".SagittariusActivity"
            android:label="@string/title_activity_sagittarius" >
        </activity>
        <activity
            android:name=".CapricornActivity"
            android:label="@string/title_activity_capricorn" >
        </activity>
        <activity
            android:name=".AquariusActivity"
            android:label="@string/title_activity_aquarius" >
        </activity>
        <activity
            android:name=".PiscesActivity"
            android:label="@string/title_activity_pisces" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game" >
        </activity>
    </application>

</manifest>
